* {
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 216, 216);
}

.swiper {
    width: 100%;
    overflow: hidden;
}

.up-text {
    color: gray;
    padding: 1rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 50%;
    color: red;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 180%;
}

.logo-button {
    display: flex;
    width: 240px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 6px;
    flex-direction: row;
    flex: 0 0 auto;
    margin: 0;
}

.lenovo-image {
    width: 120px;
    height: 50px;
}

.samsung-image {
    width: 116px;
    height: 39px;
}

.apple-image {
    width: 44px;
    height: 44px;
}

.view-image {
    width: 128px;
    height: 21px;
}

.hp-image {
    width: 52px;
    height: 52px;
}

.acer-image {
    width: 94px;
    height: 24px;
}

.sony-image {
    width: 128px;
    height: 26px;
}

button {
    cursor: pointer;
}

.dropdown:hover {
    transform: translate(3px);
    transition: 0.3s;
}

.swiper-wrapper {
    display: flex;
    margin: 0;
    padding-bottom: 2rem;
    position: relative;
    left: 3%;
}

.button-show-hide {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem 0.7rem;
    font-size: 90%;
    gap: 0.3rem;
    opacity: 0;
}

.show-more-img {
    width: 24px;
    height: 24px;
}

.button-show-hide2 {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem 1.5em;
    font-size: 90%;
    gap: 0.3rem;
    display: none;
    margin-top: -9%;
}

.hidden2 {
    display: none;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    width: 240px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.swiper-pagination {
    margin-top: 10%;
    position: absolute;
    top: 10%;
}

.swiper-pagination-bullet {
    background: #b5b6bc;
    opacity: 1;
    margin-top: 10%;
}

.swiper-pagination-bullet-active {
    background: #575556;
}

.hidden2 {
    display: none;
}


@media (min-width:768px) {

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        min-height: 100hv;
        margin: 0;
    }

    .up-text {
        position: relative;
        left: 1.2%;
    }

    .swiper {
        width: 100% !important;
        overflow: visible !important;
        height: auto !important;
    }

    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
        position: relative;
        right: 2%;
        padding-top: 2rem;
    }

    .swiper-slide {
        opacity: 1 !important;
        margin-bottom: 0;
    }

    .button2 {
        grid-row: 3;
    }

    .hidden {
        display: none !important;
    }

    .button-show-hide {
        padding-left: 1.5rem;
        opacity: 1;
        position: relative;
        bottom: 10%;
    }

    .swiper-pagination {
        display: none;
    }
}

@media (min-width:1120px) {

    .up-text {
        position: relative;
        right: 2%;
    }

    .button-show-hide {
        display: none;
        opacity: 0;
    }

    .button-show-hide2 {
        display: flex;
        position: relative;
        z-index: 20;
    }

    .swiper {
        position: relative;
        right: 1%;
        display: flex;
        justify-content: space-between;
    }

    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 13px;
        margin-bottom: 0;
    }

    .button2 {
        grid-row: 2;
    }

    .button3 {
        grid-row: 3;
    }

    .hidden {
        display: grid !important;
    }

    .hidden2 {
        display: none;
    }

    .swiper-pagination {
        display: none;
    }
}