* {
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 216, 216);
}
.swiper {
    width: 100%;
    overflow: hidden;
}

.up-text {
    color: gray;
    padding: 1rem;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    border-radius: 50%;
    color: red;
    width: 40px;
    height: 40px;
    background: transparent;
    font-size: 180%;
}

.logo-button {
    display: flex;
    width: 240px;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 6px;
    flex-direction: row;
    flex: 0 0 auto;
    margin: 0;
}

.lenovo-image {
    width: 120px;
    height: 50px;
}

.samsung-image {
    width: 116px;
    height: 39px;
}

.apple-image {
    width: 44px;
    height: 44px;
}

.view-image {
    width: 128px;
    height: 21px;
}

.hp-image {
    width: 52px;
    height: 52px;
}

.acer-image {
    width: 94px;
    height: 24px;
}

.sony-image {
    width: 128px;
    height: 26px;
}

button {
    cursor: pointer;
}

.dropdown:hover {
    transform: translate(3px);
    transition: 0.3s;
}

/* .main {
    width: 320px;
    height: 234px;
} */

.swiper-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding-left: 1rem;
    margin: 0;
    padding-bottom: 2rem;
    /* width: 512px;
    height: 196px; */
    
}

.brand-image {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

.brand-image::-webkit-scrollbar {
    display: none;
}

.button-show-hide {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem 0.7rem;
    font-size: 90%;
    gap: 0.3rem;
    opacity: 0;
}

.show-more-img {
    width: 24px;
    height: 24px;
}

/* .button-show-hide2 {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    font-size: 90%;
    gap: 0.3rem;
    opacity: 0;
    position: relative;
    bottom: 20%;
} */
/* .swiper {
    overflow-x: auto;
} */

.hidden2 {
    display: none;
}
 .swiper {
    width: 100%;
    overflow: hidden; 
     padding-right: 10px;
} 
.swiper-slide {
    width: 240px;
    flex-shrink: 0;
}
.brand-image {
    width: 240px;
}
.swiper-pagination {
    margin-top: 10%;
    position: absolute;
    top: 10%;
}

.swiper-pagination-bullet {
    background: #b5b6bc;
    opacity: 1;
    margin-top: 10%;
}

.swiper-pagination-bullet-active {
    background: #575556;
}

/* .swiper-slide-next {
    opacity: 0.4;
    transition: opacity 0.3s;
} */

/* .swiper-slide-active {
    opacity: 1;
} */


@media (min-width:768px) {

    html,
    body {
        height: 100%;
        margin: 0;
    }

    body {
        min-height: 100hv;
        margin: 0;
    }

    .swiper {
        width: 100% !important;
        overflow: visible !important;
        height: auto !important;
    }

    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 15px;
    }

    .swiper-slide {
        opacity: 1 !important;
        margin-bottom: 0;
    }

    .button2 {
        grid-row: 3;
    }

    .hidden {
        display: none !important;
    }

    .button-show-hide {
        padding-left: 1rem;
        opacity: 1;
        position: relative;
        bottom: 10%;
    }

    /* .button-show-hide2 {
        display: none;
    } */

    .swiper-pagination {
        display: none;
    }

    .button3 {
        display: none;
    }
}

@media (min-width:1121px) {

    .button-show-hide {
      opacity: 1 !important;
      /* position: relative;
      top: 40%; */
    }

    /* .hidden2 {
        display: none;
    } */

    /* .swiper {
        overflow: visible;
    } */


    .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 15px;
        margin-bottom: 0;
    }
.button2{
    grid-row: 2;
}
    .swiper-slide {
        opacity: 1;
    }

    .button-show-hide {
        display: flex;
        position: relative;
        bottom: 40%;
        
    }

    .button3 {
        grid-row: 3;
    }
    .hidden {
    display: grid !important;
}
.hidden2 {
    display: none !important;
}

    .swiper-pagination {
        display: none;
    }
}